@charset "UTF-8";
.fa-small {
  font-size: 0.7em;
}

.u-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .u-mobile {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: YuGothic, "Yu Gothic", serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media (max-width: 375) {
  html {
    font-size: 4.26667vw;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.45455vw;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.c-arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}

.c-arrow::before,
.c-arrow::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.c-btn {
  display: block;
  max-width: 100%;
  width: 344px;
  width: 21.5rem;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#0050AF), to(#002858));
  background: linear-gradient(to bottom, #0050AF, #002858);
  color: white;
  font-size: 16px;
  font-size: 1rem;
  padding: 12px 54px 12px 0;
  padding: 0.75rem 3.375rem 0.75rem 0;
  height: inherit;
}

.c-btn.c-btn--double {
  display: block;
  text-align: center;
  padding: 8px 0px;
  padding: 0.5rem 0rem;
  width: 210px;
  width: 13.125rem;
  text-align: center;
  color: black;
  border: 4px double black;
  border: 0.25rem double black;
  background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
  background: initial;
}

.c-btn.c-btn--brown {
  display: block;
  text-align: center;
  padding: 8px 0px;
  padding: 0.5rem 0rem;
  width: 210px;
  width: 13.125rem;
  text-align: center;
  color: white;
  border: none;
  outline: 1px solid white;
  outline-offset: -4px;
  background: #A7907D;
}

.c-btn.c-btn--small {
  display: block;
  text-align: center;
  padding: 8px 0px;
  padding: 0.5rem 0rem;
  width: 210px;
  width: 13.125rem;
  text-align: center;
  color: white;
  background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
  background: initial;
  border: 1px solid white;
  border: 0.0625rem solid white;
}

.c-card img {
  width: 160px;
  width: 10rem;
}

.c-category {
  font-size: 8px;
  font-size: 0.5rem;
  padding: 4px 10px;
  padding: 0.25rem 0.625rem;
  background-color: #003C85;
  color: white;
  display: inline-block;
}

.c-hamburger {
  z-index: 110;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .c-hamburger {
    display: none;
  }
}

.c-hamburger span {
  position: relative;
  display: block;
  height: 2px;
  height: 0.125rem;
  width: 24px;
  width: 1.5rem;
  background: white;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.c-hamburger span:nth-child(1) {
  top: 0;
}

.c-hamburger span:nth-child(2) {
  margin: 7px 0;
  margin: 0.4375rem 0;
}

.c-hamburger span:nth-child(3) {
  top: 0;
}

/*OPEN時の動き*/
.c-hamburger.open span:nth-child(1) {
  top: 9px;
  top: 0.5625rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger.open span:nth-child(2) {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

.c-hamburger.open span:nth-child(3) {
  top: -9px;
  top: -0.5625rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-section-subtitle {
  background-color: #A7907D;
  line-height: 1.33333;
  padding: 8px;
  padding: 0.5rem;
  width: 160px;
  width: 10rem;
  max-width: 100%;
  opacity: 0.7;
}

.c-section-subtitle__text {
  font-size: 12px;
  font-size: 0.75rem;
  color: white;
}

.c-section-title__text {
  font-size: 24px;
  font-size: 1.5rem;
  color: black;
  line-height: 1.33333;
  padding-left: 20px;
  padding-left: 1.25rem;
  border-left: 4px solid #003C85;
  width: 100%;
}

.l-common {
  margin-top: 65px;
  margin-top: 4.0625rem;
}

.l-contact {
  margin-top: 35px;
  margin-top: 2.1875rem;
}

.l-info {
  margin-top: 67px;
  margin-top: 4.1875rem;
}

.l-inner {
  width: 100%;
  padding-right: 23px;
  padding-left: 23px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-service {
  margin-top: 38px;
  margin-top: 2.375rem;
}

.p-card {
  position: relative;
}

.p-card:nth-child(odd) {
  margin-right: 24px;
  margin-right: 1.5rem;
}

.p-card__category {
  position: absolute;
  top: 0;
  left: 0;
}

.p-card__title {
  position: absolute;
  bottom: 0;
  left: 0;
}

.p-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-cards__card {
  margin-top: 25px;
  margin-top: 1.5625rem;
}

.p-cards__btn {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-contact__box {
  background: url(../images/common/contact.jpg) no-repeat;
  padding: 27px 63px 20px;
  padding: 1.6875rem 3.9375rem 1.25rem;
  width: 100%;
  max-width: 100%;
  position: relative;
  background-size: cover;
  z-index: -2;
}

.p-contact__box::after {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .7);
}

.p-contact__textbox {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.35714;
}

.p-contact__info {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.35714;
  text-align: center;
  padding-top: 14px;
  padding-top: 0.875rem;
}

.p-contact__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 23px;
  padding-top: 1.4375rem;
}

.p-contact__telbox {
  padding-top: 13px;
  padding-top: 0.8125rem;
  font-size: 24px;
  font-size: 1.5rem;
  font-size: bold;
  color: #003C85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-contact__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-drawer-menu {
  width: 100%;
  height: 100vh;
  background-color: rgba(34, 34, 34, .95);
  z-index: 100;
  text-align: center;
  display: none;
  max-width: 520px;
  max-width: 32.5rem;
}

@media screen and (min-width: 768px) {
  .p-drawer-menu {
    letter-spacing: 0.125rem;
    display: block;
    height: inherit;
    max-width: 100%;
    background-color: transparent;
  }
}

.p-drawer-menu__items {
  padding-top: 250px;
  padding-top: 15.625rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
  height: 100vh;
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .p-drawer-menu__items {
    padding-top: 0;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: none;
            transform: none;
    height: inherit;
  }
}

.p-drawer-menu__item {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .p-drawer-menu__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: inherit;
  }
}

@media screen and (min-width: 768px) {
  .p-drawer-menu__item:first-of-type {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .p-drawer-menu__item:last-of-type {
    margin-left: 1rem;
    background-color: #fff;
    color: #333;
  }
}

@media screen and (min-width: 768px) {
  .p-drawer-menu__item:last-of-type a {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.p-drawer-menu__item a {
  font-family: YuGothic, "Yu Gothic", serif;
  display: block;
  width: 100%;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .p-drawer-menu__item a {
    padding: 0 1rem;
    letter-spacing: 0.0625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: inherit;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .p-drawer-menu__item a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.625rem;
    width: 100%;
    height: 0.0625rem;
    background: white;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1000;
  }
}

@media screen and (min-width: 768px) {
  .p-drawer-menu__item a:hover:before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.p-footer {
  background: url(../images/common/footer.jpg) no-repeat;
  background-size: cover;
  color: white;
}

.p-footer__inner {
  margin: 0 auto;
  text-align: center;
}

.p-footer__iconbox {
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-top: 0.8125rem;
}

.p-footer__title {
  padding-top: 26px;
  padding-top: 1.625rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: cal(19/14);
}

.p-footer__logo {
  font-size: 14px;
  font-size: 0.875rem;
  padding-top: 65px;
  padding-top: 4.0625rem;
}

.p-footer__copy {
  font-size: 9px;
  font-size: 0.5625rem;
  line-height: 1.33333;
  padding-top: 11px;
  padding-top: 0.6875rem;
}

.p-footer__icon {
  font-size: 1.5em;
  border-radius: 50%;
  border: 1px solid white;
  width: 42px;
  width: 2.625rem;
  height: 42px;
  height: 2.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 8px;
}

.p-header {
  position: fixed;
  z-index: 90;
  height: 60px;
  height: 3.75rem;
  width: 390px;
  width: 24.375rem;
  max-width: 100%;
}

.p-header__logo a {
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.001em;
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  max-width: 80rem;
  padding: 21px 23px 21px 18px;
  padding: 1.3125rem 1.4375rem 1.3125rem 1.125rem;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-info {
  color: white;
  background-color: #003C85;
}

.p-info__inner {
  padding: 36px;
  padding: 2.25rem;
}

.p-info__title {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 2.20833;
  padding-left: 7px;
  padding-left: 0.4375rem;
}

.p-info__box {
  margin-top: 23px;
  margin-top: 1.4375rem;
  width: 291px;
  width: 18.1875rem;
  max-width: 100%;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.35714;
}

.p-matter {
  position: relative;
}

.p-matter__box {
  position: absolute;
  color: white;
  border: 1px solid white;
  width: 121px;
  width: 7.5625rem;
  max-width: 100%;
  font-size: 12px;
  font-size: 0.75rem;
  padding: 8px;
  padding: 0.5rem;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-matter__text {
  width: inherit;
}

.p-mv {
  background: url(../images/common/mv.jpg);
}

.p-mv__block {
  padding-top: 184px;
  padding-top: 11.5rem;
  margin: 0 auto;
  width: 258px;
  width: 16.125rem;
  color: white;
}

.p-mv__title {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1.30769;
  text-align: center;
}

.p-mv__title small {
  display: block;
  padding: 8px 0;
  padding: 0.5rem 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.35714;
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
}

.p-mv__icon {
  height: 147.82px;
  height: 9.23875rem;
  position: relative;
  width: 406.49px;
  overflow: hidden;
}

.p-mv__icon img {
  position: absolute;
  left: -14.49px;
  top: 0;
  color: #000;
  color: initial;
  width: inherit;
}

.p-mv__contactbtn {
  margin: 50px auto 0;
  margin: 3.125rem auto 0;
  width: 210px;
  width: 13.125rem;
}

.p-mv__requestbtn {
  margin: 17px auto 0;
  margin: 1.0625rem auto 0;
  width: 210px;
  width: 13.125rem;
}

.p-mv__scroll {
  margin-top: 112px;
  margin-top: 7rem;
  padding-bottom: 65px;
  padding-bottom: 4.0625rem;
  font-size: 10px;
  font-size: 0.625rem;
  text-align: center;
  color: white;
  position: relative;
}

.p-mv__scroll::after {
  position: absolute;
  content: "";
  height: 65px;
  height: 4.0625rem;
  width: 1px;
  width: 0.0625rem;
  border: 0.5px solid white;
}

.p-service {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.35;
  background-color: #F6F5F3;
}

.p-service__title {
  padding-top: 28px;
  padding-top: 1.75rem;
}

.p-service__box {
  margin-top: 25px;
  margin-top: 1.5625rem;
  position: relative;
}

.p-service__textbox {
  position: absolute;
  bottom: 38px;
  bottom: 2.375rem;
  left: 23px;
  left: 1.4375rem;
  color: white;
  line-height: 1.35;
}

.p-service__btn {
  margin-top: 28px;
  margin-top: 1.75rem;
  width: 344px;
  width: 21.5rem;
}

.appp {
  margin: 1px;
}
