// 透過度
$opacity: 0.6;
$hover-opacity: 0.8;

//汎用色
$black: #111;
$white: #fff;


// 色
$background: #111; // 背景
$background-sub: #333; // 背景
$background-contact:#3D3D3D; // 背景

$background-card: #fff; // 背景
$background-cat: #FFEA2E; // 背景
$background-label: #FFBA6A; // 背景

$btn-background: #333; // 背景
$btn-background-sub: #fff; // 背景

$overlay:#222;

$border-color:#fff;
$border-color-sub:#333;

$text-color: #fff; // テキスト色
$text-color-sub: #333; // テキスト