//z-index レイヤー
$z-modal: 200;
$z-mv:-100;
$z-burger: 110;

$z-drawer: 100;
$z-floating: 30;
$z-header: 90;
$z-footer: 10;
$z-up: 3;
$z-layer: 2;
$z-default: 1;
$z-down:0;
$z-background-layer: -90;
$z-background: -100;
$z-background-down: -110;