.c-hamburger{
  z-index:$z-burger;
  text-decoration: none;
  @include mq(md){
    display: none;
  }
 }
 
.c-hamburger span {
  position: relative;
  display: block;
  height: rem(2);
  width: rem(24);
  background: white;
  transition: ease .3s;
}
 
.c-hamburger span:nth-child(1) {
  top: 0;
}

.c-hamburger span:nth-child(2) {
  margin: rem(7) 0;
}

.c-hamburger span:nth-child(3) {
  top: 0;
}
/*OPEN時の動き*/
.c-hamburger.open span:nth-child(1) {
  top: rem(9);
  transform: rotate(45deg);
}

.c-hamburger.open span:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
}

.c-hamburger.open span:nth-child(3) {
  top: rem(-9);
  transform: rotate(-45deg);
}