.c-section-subtitle{
  background-color: #A7907D;
  line-height: calc(16/12);
  padding: rem(8);
  width: rem(160);
  max-width: 100%;
  opacity: 0.7;
}

.c-section-subtitle__text{
  font-size: rem(12);
  color: white;
}